.profile {
    width: 100%;
    height: 100%;
    background-image: url("../../images//Background\ Image.png");
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-color: rgba(215, 215, 215, 0.32);
    // gap: 10px;
    // padding: 32px 63px;

    &::-webkit-scrollbar {
        display: none;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        font-family: "Montserrat", sans-serif;
        color: #000000;
    }

    &__changePassButton {
        width: 215px;
        height: 42px;
        border-radius: 10px;
        border: none;
        background-color: #F55A2C;
        color: white;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
        box-shadow: 0px 2px 16px 0px #3D6BC040;

    }

    &__topWrapper {
        display: flex;
        justify-content: space-between;
        padding: 32px 66px 11px 49px
    }

    &__logoImg {
        width: 73px;
        height: 76px;
        border-radius: 50%;
        object-fit: contain;
    }

    &__logoImgWrapper {
        width: 100px;
        height: 100px;
        background-color: #FFFFFF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    &__changeBtn {
        width: 195px;
        height: 42px;
        border-radius: 10px;
        border: 1px solid #F55A2C;
        color: #F55A2C;
        background-color: white;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__removeBtn {
        width: 195px;
        height: 42px;
        border-radius: 10px;
        color: white;
        background-color: #F55A2C;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
        border: none;
        box-shadow: 0px 2px 16px 0px #3D6BC040;

    }

    &__btnWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__centerWrapper {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 140px;
        border-radius: 10px;
        background-color: white;
        justify-content: space-between;
        padding: 20px 40px;
        box-shadow: 0px 2px 8px 0px #00000047;

    }

    &__switch {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        margin: 0px;
    }

    &__centerLeft {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__bottom {
        // width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 2px 8px 0px #00000047;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__label {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #000000;
        display: flex;
        align-items: center;
        gap: 6px;
    }

    &__input {
        width: 437px;
        height: 42px;
        border: 1px solid #F0F1F7;
        outline: none;
        padding: 13px 20px;
        border-radius: 8px;
    }


    &__input:focus {
        box-shadow: 0px 2px 8px 0px #F55A2C;
    }

    &__inputWrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__formLeft {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 33px 50px;
    }

    &__formRight {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 31px 40px;
    }

    &__formWrapper {
        display: flex;
        justify-content: space-around;

    }

    &__rightCharges {
        display: flex;
        gap: 13px;
    }

    &__rightChargesinput {
        width: 212px;
        height: 42px;
        border: 1px solid #F0F1F7;
        outline: none;
        padding: 13px 20px;
        border-radius: 8px;
    }

    &__rightChargesinput:focus {
        box-shadow: 0px 2px 8px 0px #F55A2C;
    }


    &__inputIcon {
        width: 17px;
        height: 16px;
    }

    &__updateBtn {
        width: 185px;
        height: 42px;
        border-radius: 10px;
        box-shadow: 0px 2px 16px 0px #3D6BC040;
        background-color: #000000;
        color: white;
        text-transform: uppercase;
        cursor: pointer;

    }

    &__centerBottom {
        display: flex;
        flex-direction: column;
        gap: 22px;
        padding: 0px 49px 0px 49px;
    }

    &__update {
        display: flex;
        justify-content: center;
        padding-bottom: 24px;
    }

    &__timeWrapper {
        display: flex;
        gap: 12px;
        width: 398px;
        justify-content: end;
        padding: 8px 0px;
        align-items: center;
    }

    &__timeinput {
        width: 108px;
        height: 42px;
        border: 1px solid #F0F1F7;
        outline-color: #F55A2C;
        padding-left: 6px;
        border-radius: 8px;
    }

    &__timeFieldWrapper {
        display: flex;
        gap: 25px;
    }

    &__daylabel {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.07px;
        text-align: left;
        color: #000000;
    }

    &__timeinput.disabled {
        background-color: #E3E3E3;
        border-radius: 8px;
    }

    &__restaurantBioInput {
        width: 437px;
        height: 62px;
        border: 1px solid #F0F1F7;
        outline: none;
        padding: 13px 20px;
        border-radius: 8px;
    }

    &__restaurantBioInput:focus {
        box-shadow: 0px 2px 8px 0px #F55A2C;
    }
}


.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    height: 42px;
}


label[data-shrink=false]+.MuiInputBase-formControl .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 0px;
}

.css-10o2lyd-MuiStack-root {
    overflow: unset !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 8px !important;

}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: 1px solid #F0F1F7 !important;
}



.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled {
    background-color: #E3E3E3 !important;
    margin-top: 6px !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    margin-top: 6px !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    display: none !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    display: none !important;
}


.rt-TextFieldRoot:where(.rt-variant-surface) {
    width: 352px !important;
    height: 48px !important;
    border-radius: 8px !important;
    outline: none !important;
    padding: 13px 20px !important;
    border: 1px solid #F0F1F7 !important;
}



/////////////////// timepicker ////////////////////
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: #F55A2C !important;
}

.css-umzx0k-MuiClock-pin {
    background-color: #F55A2C !important;
}

.css-d0vs79-MuiClockPointer-root {
    background-color: #F55A2C !important;
}

.css-f53ilk-MuiClockPointer-thumb {
    border: 16px solid #F55A2C !important;
    background: #F55A2C !important;
}

.css-12t0dn4-MuiClockPointer-thumb {
    border: 16px solid #F55A2C !important;
}

.css-1h2qg9i-MuiClockPointer-root {
    background-color: #F55A2C !important;
}




.react-tel-input .form-control {
    width: 437px !important;
    height: 42px !important;
    padding-left: 60px !important;
}

.react-tel-input .form-control:focus {
    box-shadow: 0px 2px 8px 0px #F55A2C !important;
    border: none;
}

.react-tel-input .selected-flag {
    background-color: white !important;
    padding: 14px 20px !important;
}

.react-tel-input .flag-dropdown {
    border-right: none !important;
    border: 1px solid #F0F1F7 !important;

}

.react-tel-input .flag-dropdown:focus {
    box-shadow: 0px 2px 8px 0px #F55A2C !important;
}

.react-tel-input .form-control {
    border: 1px solid #F0F1F7 !important;
}


.rt-BaseDialogContent {
    overflow: visible !important;
}

//Mobile devices
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .profile {
        &__centerWrapper {
            flex-direction: column;
            height: 320px;
            align-items: center;
        }

        &__centerLeft {
            flex-direction: column;
        }

        &__topWrapper {
            flex-direction: column;
        }

        &__formWrapper {
            flex-direction: column;
        }

        &__input {
            width: 100%;
        }

        &__restaurantBioInput {
            width: 100%;
        }

        &__rightChargesinput {
            width: 100%;
        }

        &__day {
            flex-direction: column !important;
            gap: 0px !important;
        }

        &__daylabelWrapper {
            width: 100%;
        }

        &__daylabel {
            text-align: start;
        }

        &__dayContainer {
            gap: 30px !important;
        }

        &__dayTime {
            flex-direction: column !important;
            gap: 7px !important;
            width: 100% !important;
            align-items: flex-start !important;
        }

        &__centerBottom {
            padding: 0px 22px 0px 22px;
        }
    }

    .profile .react-tel-input .form-control {
        width: 100% !important;
    }

    .changePassword {
        &__wrapper {
            width: 280px !important;
        }

        &__labelWrapper {
            width: 250px !important;
        }

        &__input {
            width: 100% !important;
        }
    }

}

//Tablets and iPads
@media only screen and (min-width: 481px) and (max-width: 769px) {
    .profile {
        &__centerWrapper {
            height: 320px;

        }

        &__centerLeft {
            flex-direction: column;
        }

        &__formWrapper {
            flex-direction: column;
        }

        &__input {
            width: 100%;
        }

        &__restaurantBioInput {
            width: 100%;
        }

        &__rightChargesinput {
            width: 100%;
        }

        &__day {
            flex-direction: column !important;
            gap: 0px !important;
        }

        &__daylabelWrapper {
            width: 100%;
        }

        &__daylabel {
            text-align: start;
        }

        &__dayContainer {
            gap: 20px !important;
        }

        &__centerBottom {
            padding: 0px 22px 0px 22px;
        }
    }

    .profile .react-tel-input .form-control {
        width: 100% !important;
    }
}

//small screens and laptops
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .profile{
        &__formWrapper {
            flex-direction: column;
        }
        &__day {
            flex-direction: column !important;
            gap: 0px !important;
        }

        &__daylabelWrapper {
            width: 100%;
        }

        &__daylabel {
            text-align: start;
        }

        &__dayContainer {
            gap: 20px !important;
        }
    }
}

//Desktops and large screens
@media only screen and (min-width: 1025px) and (max-width: 1200px){

}