.section {
    width: 100%;
    height: 100%;
    background-image: url("../../../images//Background\ Image.png");
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: rgba(215, 215, 215, 0.32);

    &::-webkit-scrollbar {
        display: none;
    }


    &__topWrapper {
        display: flex;
        justify-content: space-between;
        // padding: 33px 62px 19px 35px;
        align-items: center;
        padding: 33px 33px 0px 33px;
    }


    &__createButton {
        width: 140px;
        height: 42px;
        border-radius: 10px;
        border: none;
        background-color: #F55A2C;
        color: white;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
        box-shadow: 0px 2px 16px 0px #3D6BC040;
    }

    &__bottomWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 19px;
        padding: 19px 36px;

    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        font-family: "Montserrat", sans-serif;
        color: #000000;
        width: 208px;
        height: 29px;

    }

    &__customSelect {
        width: 100%;
        background-color: red;
        height: 55px;
        border-radius: 8px;
        border: 1px solid #F0F1F7;

        .ant-space-item {
            width: 100%;
        }
    }

    &__allCardsWrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        // padding: 0px 35px;
        justify-content: center;
    }

    &__img {
        width: 100%;
        height: 233px;
        border-radius: 24px 24px 0px 0px;


    }

    &__imgWrapper {
        width: 100%;
        height: 233px;
    }

    &__deleteButton {
        width: 90px;
        height: 32px;
        border-radius: 10px;
        background-color: white;
        color: #F55A2C;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        cursor: pointer;
        border: 1px solid #F55A2C;
        box-shadow: 0px 2px 16px 0px #3D6BC040;
    }

    &__editButton {
        width: 90px;
        height: 32px;
        border-radius: 10px;
        background-color: #F55A2C;
        color: white;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        cursor: pointer;
        border: none;
        box-shadow: 0px 2px 16px 0px #3D6BC040;
    }

    &__cardAction {
        display: flex;
        flex-direction: column;
        gap: 11.13px;
        position: absolute;
        top: 86px;
        left: 130px;
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease;


    }

    &:hover .section__cardAction {
        opacity: 1;
    }

    &__cardWrapper {
        border-radius: 24px;
        background-color: white;
        position: relative;

        &:hover {
            .section__img {
                opacity: 0.9;
                filter: brightness(0.3);
            }

            .section__cardAction {
                display: flex;
            }

            .menus__info {
                display: flex;
            }
        }
    }

    &__cardContent {
        display: flex;
        flex-direction: column;
        width: 353px;
        // height: 104px;
        // margin: 0px;
        border-radius: 24px;
        border: 1px solid white
    }


    &__cardHeading {
        display: flex;
        justify-content: space-between;
        padding: 12px 11px 7px 16px;
        align-items: center;
    }

    &__cardTitle {
        width: 130px;
        height: 22px;
        font-family: "Jost";
        font-size: 18px;
        font-weight: 600;
        line-height: 22.41px;
        text-align: left;
        color: #202020;
    }

    &__cardDescriptionWrapper {
        padding: 7px 36px 29px 16px;
    }

    &__cardDescription {
        width: 301px;
        height: 34px;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 400;
        line-height: 17.43px;
        text-align: left;
        color: #878787;
    }

    &__info {
        position: absolute;
        top: 13px;
        right: 12px;
        display: none;
        cursor: pointer;
    }
}


.view {
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
        width: 413px !important;
        height: 423px !important;
        border-radius: 16px !important;
        box-shadow: 0px 10px 30px 0px #00000040;
        position: relative;
    }

    .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
        overflow-y:visible;
    }
    .close:hover {
        background-color: black;
    }

    &__title {
        font-family: "Jost";
        font-size: 18px;
        font-weight: 600;
        line-height: 22.41px;
        text-align: left;
        color: #202020;
        margin: 0px;
    }

    &__info {
        font-family: "Jost";
        font-size: 12px;
        font-weight: 400;
        line-height: 14.94px;
        text-align: left;
        color: #838383;
        margin: 0px;
    }

    &__desc {
        font-family: "Manrope", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.43px;
        text-align: left;
        color: #878787;
        margin: 0px;
        width: 378px;
    }

    &__contentWrapper{
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}

// .rt-BaseDialogScroll{
//     overflow-y: scroll;
//     &::-webkit-scrollbar {
//         display: none;
//     }
// }