.sectionItem {
    width: 100%;
    height: 100%;
    background-image: url("../../../images//Background\ Image.png");
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: rgba(215, 215, 215, 0.32);

    &::-webkit-scrollbar {
        display: none;
    }

    &__table {
        padding: 0px 20px 11px 20px !important;
    }

    &__topWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 33px 56px 0px 53px;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        font-family: "Montserrat", sans-serif;
        color: #000000;
        width: 208px;
        height: 29px;

    }

    &__createButton {
        width: 140px;
        height: 42px;
        border-radius: 10px;
        border: none;
        background-color: #F55A2C;
        color: white;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
        box-shadow: 0px 2px 16px 0px #3D6BC040;
    }

    &__bottomWrapper {
        padding: 19px 56px 0px 53px;
    }


    &__resetBtn {
        width: 177px;
        height: 42px;
        border-radius: 10px;
        border: 1px solid #F55A2C;
        box-shadow: 0px 2px 16px 0px #3D6BC040;
        background-color: white;
        color: #F55A2C;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 600;
        line-height: 17.07px;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
    }

    &__switch {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        margin: 0px;
    }

    &__applyBtn {
        width: 177px;
        height: 42px;
        border-radius: 10px;
        border: 1px solid #F55A2C;
        box-shadow: 0px 2px 16px 0px #3D6BC040;
        color: white;
        background-color: #F55A2C;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 600;
        line-height: 17.07px;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
    }

}

.ant-table-thead>tr>th {
    height: 42px !important;
    background-color: #F55A2C !important;
    color: white !important;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: left;
}

.ant-table-tbody>tr>td {
    color: #000000 !important;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
}

.ant-pagination-item-active {
    border: 2px solid #F0F1F7 !important;
}


.css-dev-only-do-not-override-1kuana8 .ant-pagination .ant-pagination-item-active a {
    color: #000000 !important;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
}




.sectionItem .ant-table-thead>tr>th:nth-child(1),
.sectionItem .ant-table-tbody>tr>td:nth-child(1) {
    border-radius: 8px 0 0 8px;
    border-top: 1px solid #F0F1F7;
    border-bottom: 1px solid #F0F1F7;
    border-left: 1px solid #F0F1F7;
    margin-bottom: 19px !important;


}

.sectionItem .ant-table-thead>tr>th:nth-child(6),
.sectionItem .ant-table-tbody>tr>td:nth-child(6) {
    border-top: 1px solid #F0F1F7;
    border-bottom: 1px solid #F0F1F7;
    border-right: 1px solid #F0F1F7;
    border-radius: 0 8px 8px 0;
    margin-bottom: 19px !important;


}

.sectionItem .ant-table-thead>tr>th:nth-child(2),
.sectionItem .ant-table-tbody>tr>td:nth-child(2),
.sectionItem .ant-table-thead>tr>th:nth-child(3),
.sectionItem .ant-table-tbody>tr>td:nth-child(3),
.sectionItem .ant-table-thead>tr>th:nth-child(4),
.sectionItem .ant-table-tbody>tr>td:nth-child(4),
.sectionItem .ant-table-thead>tr>th:nth-child(5),
.sectionItem .ant-table-tbody>tr>td:nth-child(5) {
    border-top: 1px solid #F0F1F7;
    border-bottom: 1px solid #F0F1F7;
    margin-bottom: 19px !important;

}


.sectionItem .ant-select-show-search:where(.css-dev-only-do-not-override-1kuana8).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    display: none;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-select .ant-select-arrow {
    display: none;
}



.th {
    background-color: #F55A2C !important;
    border: none;
    color: white !important;
    height: 42px !important;
}


Table {
    border-collapse: separate;
    border-spacing: 75px;
}



:where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper {
    overflow-y: scroll;
    height: 360px;

    &::-webkit-scrollbar {
        display: none;
    }
}

:where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper table {
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.createItem {
    width: 100%;
    height: 100%;
    background-image: url("../../../images//Background\ Image.png");
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: rgba(215, 215, 215, 0.32);
    padding: 44px 47px 0px 57px;
    gap: 15px;

    &::-webkit-scrollbar {
        display: none;
    }


    &__formContent {
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

    }

    &__topWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        font-family: "Montserrat", sans-serif;
        color: #000000;
        width: 208px;
        height: 29px;

    }

    &__image {
        width: 135px;
        height: 114px;
        border-radius: 20px;
        box-shadow: 0px 2px 8px 0px #00000040;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__bottomWrapper {
        width: 100%;
        // height: 100%;
        background-color: white;
        box-shadow: 0px 2px 8px 0px #00000047;
        border-radius: 10px;
        padding: 43px 70px 0px 54px;
        // overflow-y: scroll;
        // &::-webkit-scrollbar {
        //     display: none;
        // }
    }

    &__removeBtn {
        width: 195px;
        height: 42px;
        border-radius: 10px;
        color: white;
        background-color: #F55A2C;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
        border: none;
        box-shadow: 0px 2px 16px 0px #3D6BC040;

    }

    &__label {
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        text-align: left;

    }

    &__btnWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__inputWrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }


    &__input {
        width: 437px;
        height: 42px;
        border: 1px solid #E1E1E1;
        outline: none;
        padding: 13px 20px;
        border-radius: 8px;
    }

    &__input:focus {
        box-shadow: 0px 2px 8px 0px #F55A2C;
    }


    select {
        width: 437px;
        height: 42px;
        border: 1px solid #E1E1E1;
        // outline-color: #F55A2C;
        outline: none;
        padding-left: 6px;
        border-radius: 8px;

        &:focus {
            box-shadow: 0px 2px 8px 0px #F55A2C;
        }


    }


    &__formLeft {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__formRight {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }


    &__priceiInput {
        width: 123px;
        height: 39px;
        border: 0.93px solid #F0F1F7;
        outline: none;
        padding: 13px 20px;
        border-radius: 7px;
        background: #FCFDFE;
    }

    &__priceiInput:focus {
        box-shadow: 0px 2px 8px 0px #F55A2C;
    }

    &__priceLabel {
        font-family: "Montserrat";
        font-size: 11.15px;
        font-weight: 400;
        line-height: 13.59px;
        text-align: left;
        color: #000000;
    }

    &__updateBtn {
        width: 185px;
        height: 42px;
        border-radius: 10px;
        box-shadow: 0px 2px 16px 0px #3D6BC040;
        background-color: #000000;
        color: white;
        text-transform: uppercase;
        cursor: pointer;

    }

    &__update {
        display: flex;
        justify-content: center;
        padding: 31px 0px;
    }

}


.ant-drawer-body {
    background-color: #F6F6F6;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-drawer .ant-drawer-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


:where(.css-dev-only-do-not-override-1kuana8).ant-select-outlined.ant-select-multiple .ant-select-selection-item {
    width: 124px !important;
    height: 38px !important;
    border-radius: 100px !important;
    display: flex !important;
    align-items: center !important;
    background-color: #F55A2C40;
    justify-content: space-around !important;

}

:where(.css-dev-only-do-not-override-1kuana8).ant-select-multiple .ant-select-selection-overflow .ant-select-selection-item-content {
    color: #F55A2C;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-select-multiple .ant-select-selection-overflow .ant-select-selection-item-remove svg {
    color: #F55A2C;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-select-multiple .ant-select-selection-overflow {
    padding: 12px 9px !important;
}


:where(.css-dev-only-do-not-override-1kuana8).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer).hover .ant-select-selector {
    box-shadow: 0px 2px 8px 0px #F55A2C !important;
    border-color: white !important;
}

.ant-select-focused:where(.css-dev-only-do-not-override-1kuana8).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    box-shadow: 0px 2px 8px 0px #F55A2C !important;
    border-color: white !important;
}

.ant-select-show-search:where(.css-dev-only-do-not-override-1kuana8).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: white !important;
    border: 1px solid #E1E1E1 !important;
}


:where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper .ant-table {
    scrollbar-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.06);
}

:where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:last-child {
    background-color: white !important;
}

.ant-table-body {
    margin-top: -17px;
}

.ant-table-thead {
    position: relative;
    z-index: 2;
}


:where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody>tr>td {
    text-align: center;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper .ant-table.ant-table-small .ant-table-cell {
    text-align: center;
}

//pagination
:where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-prev .ant-pagination-item-link {
    background-color: #F55A2C;
    box-shadow: 0px 2px 16px 0px #3D6BC040;
    width: 42px;
    height: 42px;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-prev {
    background-color: #F55A2C;
    box-shadow: 0px 2px 16px 0px #3D6BC040;
    width: 42px;
    height: 42px;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-next .ant-pagination-item-link {
    background-color: #F55A2C;
    box-shadow: 0px 2px 16px 0px #3D6BC040;
    width: 42px;
    height: 42px;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-next {
    background-color: #F55A2C;
    box-shadow: 0px 2px 16px 0px #3D6BC040;
    width: 42px;
    height: 42px;
}

.anticon {
    color: white;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper .ant-table-pagination-right {
    gap: 20px;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-item {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}


:where(.css-dev-only-do-not-override-1kuana8).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border: 1px solid #d9d9d9 !important;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .sectionItem {

        &__tableTop {
            display: flex !important;
            flex-direction: column !important;
        }

        &__bottom {
            max-height: 500px !important;
        }

        &__search {
            width: 100% !important;
        }

        &__filter {
            width: 100%;
            justify-content: space-evenly !important;
        }

        &__table {
            padding: 0px 20px 11px 20px !important;
        }

        &__bottomWrapper {
            padding: 19px 20px 0px 20px !important;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody>tr>td {
            overflow: scroll;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-prev .ant-pagination-item-link {
            width: 16px;
            height: 16px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-prev {
            width: 16px;
            height: 16px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-next .ant-pagination-item-link {
            width: 16px;
            height: 16px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-next {
            width: 16px;
            height: 16px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper .ant-table-pagination-right {
            gap: 20px;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-item {
            width: 16px;
            height: 16px;
        }
    }

    .createItem {
        padding: 44px 27px 0px 27px !important;

        &__formContent {
            flex-direction: column;
            gap: 30px !important;
        }

        &__inputWrapper {
            width: 100% !important;
        }

        &__input {
            width: 100% !important;
        }

        &__bottomWrapper {
            padding: 43px 50px 0px 50px !important;
        }

        &__priceWrapper {
            width: 100% !important;
        }

        &__priceContent {
            width: 100% !important;
            overflow-y: scroll !important;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__bottomContentData {
            flex-direction: column !important;
        }
    }

    .customSelect {
        width: 100% !important;
    }

}

@media only screen and (min-width: 481px) and (max-width: 769px) {
    .sectionItem {
        &__table {
            padding: 0px 20px 11px 20px !important;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody>tr>td {
            overflow: scroll;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-prev .ant-pagination-item-link {
            width: 16px;
            height: 16px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-prev {
            width: 16px;
            height: 16px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-next .ant-pagination-item-link {
            width: 16px;
            height: 16px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-next {
            width: 16px;
            height: 16px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper .ant-table-pagination-right {
            gap: 20px;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-pagination.ant-pagination-mini .ant-pagination-item {
            width: 16px;
            height: 16px;
        }
    }


    .createItem {
        &__formContent {
            flex-direction: column;
        }

        &__inputWrapper {
            width: 100% !important;
        }

        &__input {
            width: 100% !important;
        }

        &__bottomWrapper {
            padding: 43px 50px 0px 50px !important;
        }

        &__priceWrapper {
            width: 100% !important;
        }

        &__priceContent {
            width: 100% !important;
            overflow-y: scroll !important;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .customSelect {
        width: 100% !important;
    }

    .ant-select-show-search:where(.css-dev-only-do-not-override-1kuana8).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        width: 100% !important;
    }


}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .sectionItem {
        &__table {
            padding: 0px 20px 11px 20px !important;
        }

        :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody>tr>td {
            overflow: scroll;
        }
    }
}